.mainNav {
  padding: 0 30px 30px 0;
}
.mainNav ul {
  list-style: none;
}
.mainNav a {
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: 0.3s;
  /* transition-property: transform; */
}
.mainNav a:hover {
  transform: translateX(10px);
}
.mainNav a.active {
  transform: translateX(0);
}
.mainNav ul li:nth-child(1) a.active {
  border-left: rgb(144, 190, 15) 10px solid;
}
.mainNav ul li:nth-child(2) a.active {
  border-left: rgb(12, 206, 173) 10px solid;
}
.mainNav ul li:nth-child(3) a.active {
  border-left: rgb(223, 84, 19) 10px solid;
}
.mainNav ul li:nth-child(4) a.active {
  border-left: rgb(219, 79, 212) 10px solid;
}
